<launch>
  <arg name="odom_frame_id"   default="odom"/>
  <arg name="global_frame_id" default="map"/>

  <param name="/use_sim_time" value="true"/>

  <!-- ***** Include fundamental parameters **** -->
  <include file="$(find project2_skid)/launch/base.launch"/>

 <!-- Gmapping -->
 <!-- Include xml launch file for gmapping params-->
  <include file="$(find project2_skid)/launch/gmapping.launch.xml"/>

  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2_skid)/rviz_tf.rviz"/>
</launch>

