
<launch>
  <!-- ***** Include fundamental parameters **** -->
  <include file="$(find project2_skid)/launch/base.launch"/>
  <param name="/use_sim_time" value="true"/>
  
  <!-- Name of the map to use and initial position -->
  <arg name="map_file"       default="$(find project2_skid)/map/map.yaml"/> <!-- robopark_plan -->
  <!--arg name="world_file"     default="$(find project2_skid)/maps/stage/bag1_map.world"/-->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>

  <arg name="odom_frame_id"   default="odom"/>
  <arg name="global_frame_id" default="map"/>

  <!--  ****** Map server *****  --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"> <!--Start the map server-->
    <param name="frame_id" value="map"/>
  </node>


  <!--  ****** amcl Parameters launch file*****  -->
  <include file="$(find project2_skid)/launch/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/> <!--Initial position passed from the argument in the initial pose (amcl.launch.xml) -->
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/> <!--It's ok even if it's not corret. Still converges-->
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>


  <!-- robot_localization EKF node for the map frame -->
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization_ekf_node_map"  clear_params="true">
    <param name="frequency" value="50" />  
    <param name="sensor_timeout" value="0.2" />  
    <param name="two_d_mode" value="true" />
    <param name="publish_tf" value="true" />

    <param name="map_frame" value="map" />
    <param name="odom_frame" value="odom" />
    <param name="base_link_frame" value="base_link" />
    <param name="world_frame" value="map" />

    <!--EKF With Odom = -->
    <param name="odom0" value="/odom" /> 
    <rosparam param="odom0_config">[true, true, false,  
                                      false, false, true, 
                                      true,  true,  false, 
                                      false, false, true, 
                                      false, false, false]</rosparam>

    <!--EKF With Camera Odom = -->
    <param name="odom1" value="/camera/odom/sample" /> 
    <rosparam param="odom1_config">[true, true, false,  
                                      false, false, true, 
                                      true,  true, false, 
                                      false, false, true,   
                                      false, false, false]</rosparam>

    
    <!--EKF With Camera Accell = -->
    <param name="imu0" value="/camera/accel/sample" /> 
    <rosparam param="imu0_config">[false, false, false,  
                                      false, false, false, 
                                      false, false, false, 
                                      false, false, false,   
                                      true, false, false]</rosparam>

    <param name="imu1" value="/camera/gyro/sample" /> 
    <rosparam param="imu1_config">[false, false, false,  
                                      false, false, true, 
                                      false, false, false, 
                                      true, true, true,   
                                      false, false, false]</rosparam>
    
    <!--EKF With GT Pose info = -->
    <!--TODO: bisogna linkare il world frame per farlo fungere-->
    <!-- <param name="pose0" value="Robot_1/pose" /> 
    <rosparam param="pose0_config">[true, true, false, 
                                    false, false, true,
                                    false, false, false, 
                                    false, false, false,
                                    false, false, false]</rosparam> -->



    <!--For each localization source, we can say if differential (consider only the delta) 
    or relative(subtract the initial position)-->
    <param name="odom0_differential" value="false"/>
    <param name="odom1_differential" value="true"/>
    <param name="imu0_differential" value="true"/>
    <param name="imu1_differential" value="true"/>

    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>



  <!--  **************** Visualisation ****************  -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find project2_skid)/rviz_tf.rviz"/>
</launch>

